
@page "/employeeedit/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


@inject IEmployeeServices EmployeeServices
@inject NavigationManager NavigationManager
@attribute [Authorize]
@inject HttpClient Http

 
    <PageTitle>Edit ID @employee.EmployeeId </PageTitle>
    <h3>Edit @employee.FirstName - @employee.LastName</h3>
 
<EditForm Model="employee" OnSubmit="HandleSubmit">
    <div>
        <label for="FirstName">First Name</label>
        <InputText id="FirstName" @bind-Value="employee.FirstName" class="form-control"></InputText>
    </div>
    <div>
        <label for="LastName">Last Name</label>
        <InputText id="LastName" @bind-Value="employee.LastName" class="form-control"></InputText>
    </div>
    <div class="form-group row">
        <label for="BirthDate" class="col-form-label">Birth on: </label>
        <InputDate id="BirthDate" class="form-control" @bind-Value="@employee.BirthDate" placeholder="Enter Birth Date"></InputDate>
    </div>
    <div>
        <label for="PhoneNumber">Phone Number</label>
        <InputText id="PhoneNumber" @bind-Value="employee.PhoneNumber" class="form-control"></InputText>
    </div>
    <div>
        <label for="Email">E-mail</label>
        <InputText id="Email" @bind-Value="employee.Email" class="form-control"></InputText>
    </div>
    <div>
        <label>Country</label><br />
        <InputSelect @bind-Value="employee.CountryId" class="form-select">
            @foreach (var country in EmployeeServices.countries)
            {
                <option value="@country.CountryId">@country.Name</option>
            }
        </InputSelect>
    </div>
    <div class="form-group row">
        <label for="joineddate" class="col-form-label">Joined on: </label>
        <InputDate id="joineddate" class="form-control" @bind-Value="@employee.JoinedDate" placeholder="Enter date joined"></InputDate>
    </div>

    <div class="form-group row">
        <label for="exitdate" class="col-form-label">Left on: </label>
        <InputDate id="exitdate" class="form-control" @bind-Value="@employee.ExitDate" placeholder="Enter exit date"></InputDate>
    </div>

    <div class="form-group row">
        <label for="comment" class="col-form-label">Comment: </label>
        <InputTextArea id="comment" class="form-control" @bind-Value="@employee.Comment" placeholder="Enter comment"></InputTextArea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update Employee</button>
    <button type="button" class="btn btn-danger" @onclick="Deleteemployee">Delete employee</button>
</EditForm>
@code {
    [Parameter]
    public int? Id { get; set; }

    WASM.Shared.Employee employee = new WASM.Shared.Employee { Country = new Country() };

    protected override async Task OnInitializedAsync()
    {
        await EmployeeServices.GetCountry();
    }

    protected override async Task OnParametersSetAsync()
    {
        //if (Id == null)
        //{
        //    employee.Country = EmployeeServices.countries[0];
        //    employee.CountryId = employee.Country.CountryId;
        //}
        //else
        //{
            employee = await EmployeeServices.GetEmployeeById((int)Id);
        //}
    }

    async Task HandleSubmit()
    {
            await EmployeeServices.UpdateEmployee(employee);
    }

    async Task Deleteemployee()
    {
        await EmployeeServices.DeleteEmployee(employee.EmployeeId);
    }
}
